@model IList<eCoachingLog.Models.Common.LogReason>
<strong>Coaching Reason(s):</strong>
@*<div class="table-responsive">*@
	<table class="table table-hover">
		@foreach (var reason in Model)
		{
			<tr>
				<td>@reason.Description</td>
				<td>
					@foreach (var sub in reason.SubReasons)
					{
						@sub <br />
					}
				</td>
				<td>@reason.Value</td>
			</tr>
		}
	</table>
@*</div>*@

