<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="credentialAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>  
  <connectionStrings>
    <add name="ECL_Dev" connectionString="Data Source=UVAADADSQL50CCO;Initial Catalog=eCoachingDev;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="ECL_Test" connectionString="Data Source=UVAADADSQL52CCO;Initial Catalog=eCoachingTest;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="ECL_UAT" connectionString="Data Source=UVAADADSQL52CCO;Initial Catalog=eCoachingUAT;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="ECL" connectionString="Data Source=UVAAPADSQL50CCO;Initial Catalog=eCoaching;Integrated Security=True;Connect Timeout=120" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ConnectionStringKey" value=""/>
    
    <add key="AuthMethod" value="ClientID"/><!--Options: Windows, ClientID -->

    <add key="ShareURL" value="" />
    <add key="ShareList" value="" />
    <add key="ShareViewXml" value="&lt;View&gt;&lt;/View&gt;"/>
    <add key="ListFieldsOnly" value="false"/>
    <add key="ColumnTransforms" value="[]"/>
    <add key="ExtractFields" value="[]"/>

    <add key="EmailHost" value="ironport.maximus.com"/>
    <add key="EmailAuth" value="None"/>
    <add key="EmailFrom" value="ECL-NoReply@maximus.com"/>
    <add key="EmailTo" value="susmithacpalacherla@maximus.com,DouglasRStearns@maximus.com"/>

    <add key="ConvertEmptyStringToNull" value="true"/>
    
    <add key="FailureToken" value="7E834493-51ED-498B-B6B8-68C16D6B651A"/>
  </appSettings>
  <credentialAppSettings>
    <!-- ClientID / Secret are ignored when AuthMethod = Windows -->
    <add key="ClientId" value="76e281f5-fda5-4694-a923-c3e7f1e2c10c"/>
    <add key="ClientSecret" value="AdFF1mOievro4/qsALq54iU4fB6OSuk02JDI7NO1Jjs="/>
  </credentialAppSettings>
</configuration>