<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="Direction" value="Upload" />
    <add key="ProcedureName" value="EC.sp_Sharepoint_Upload_Bingo_Tampa" />
    <add key="TableTypeName" value="EC.SharepointUploadBingoTableType" />
    <add key="ProcedureListID" value="BINGO_Tampa" /><!-- Not used for uploads-->
    <add key="ProcedureTruncate" value="False" />

    <add key="Upload.CheckForDuplicates" value="TRUE"/>
    <add key="Upload.ReportProcedureName" value="EC.sp_Sharepoint_Upload_Bingo_Status" />
    <add key="Upload.ReportStatusField" value="Upload_Status" />

  <!-- 
    <add key="Upload.ReportIdField" value="SharePoint_ID" />
    <add key="Upload.ReportGuidField" value="SharePoint_GUID" />
 -->

    <add key="ShareURL" value="https://maximus365.sharepoint.com/sites/CCO/Support/QA-OPS/Calibration/" />
    <add key="ShareList" value="BINGO_Tampa" />
    <add key="ShareViewXml" value="&lt;View&gt;&lt;RowLimit&gt;1000&lt;/RowLimit&gt;&lt;OrderBy&gt;&lt;FieldRef Name='Modified' Ascending='FALSE' /&gt;&lt;/OrderBy&gt;&lt;/View&gt;"/>
  
    
    <add key="ExtractFields" value="[
                                     {'ColumnName':'Title','KeyName':'Title'},
				     {'ColumnName':'Employee_Name','KeyName':'Employee_Name'},
				     {'ColumnName':'Employee_ID','KeyName':'Employee_ID','IsSPUnique':'TRUE'},
				     {'ColumnName':'Employee_Site','KeyName':'Employee_Site','IsSPUnique':'TRUE'},
			       	     {'ColumnName':'Competencies','KeyName':'Competencies'},
				     {'ColumnName':'Month_Year','KeyName':'Month_Year','IsSPUnique':'TRUE'},
				     {'ColumnName':'Employee_Email','KeyName':'Employee_Email'}
                                     ]" />

    
    <!--
      SharePoint KEY NAME                      SharePoint Display Name                          Column Type
      ===================                      =======================                          ================
      Title                              	    Title                                         , Text
      Employee_Name                                 Employee_Name                                 , Text
      Employee_ID                                   Employee_ID                                   , Text
      Employee_Site                                 Employee_Site                                 , Text
      Competencies                                  Competencies                                  , Text
      Month_Year                                    Month_Year                                    , Text
      Employee_Email                                Employee_Email                                , Text
  
      
      FROM DB:      
      Title 	Employee_Name 	Employee_ID	Employee_Site   	Competencies 	Month_Year  	Employee_Email 	
    -->

      <add key="ListFieldsOnly" value="false"/>
  </appSettings>
</configuration>