<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="EnvironmentDescription" value="System Test"/>
    <add key="ConnectionStringKey" value="ECL_Test" />

    <add key="EmailFrom" value="TEST-ECL-NoReply@maximus.com"/>
    <add key="EmailTo" value="susmithacpalacherla@maximus.com"/>
  </appSettings>
</configuration>