<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="EnvironmentDescription" value="Development"/>
    <add key="ConnectionStringKey" value="ECL_Dev"/>

    <add key="EmailFrom" value="DEV-ECL-NoReply@maximus.com"/>
    <add key="EmailTo" value="susmithacpalacherla@maximus.com"/>

    <add key="FailureToken" value="3DDAF00B-0A2E-4DE7-8538-721FC3C39051"/>
  </appSettings>
</configuration>