<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="EnvironmentDescription" value="User Acceptance Test"/>
    <add key="ConnectionStringKey" value="ECL_UAT" />

    <add key="EmailFrom" value="UAT-ECL-NoReply@maximus.com"/>
  </appSettings>
</configuration>