<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="EnvironmentDescription" value="Production"/>
    <add key="ConnectionStringKey" value="ECL" />

    <add key="EmailFrom" value="ECL-NoReply@maximus.com"/>
  </appSettings>
</configuration>