<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="credentialAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="EnvironmentDescription" value="Sample Environment"/>
    <add key="ConnectionStringKey" value="SampleKey" />
    <add key="ProcedureName" value="schema.SomeProcedure" />
    <add key="TableTypeName" value="schema.SomeTableType" />
    <add key="ProcedureListID" value="SampleListID" />
    <add key="ProcedureTruncate" value="True" />

    <add key="AuthMethod" value="ClientID"/> <!--Options: Windows, ClientID-->

    <add key="ShareURL" value="https://cco.gdit.com/SampleSharePointSite/" />
    <add key="ShareList" value="Sample SharePoint List Name" />
    <add key="ShareViewXml" value="&lt;View&gt;&lt;/View&gt;"/>
    <add key="ListFieldsOnly" value="false"/>
    <add key="ColumnTransforms" value="[{'ColumnName':'Site','Find':'Winchester','Replace':'Winchester - GDIT'}]"/>
    <add key="ExtractFields" value="[{'ColumnName':'GUID','KeyName':'GUID'},{'ColumnName':'Site','KeyName':'Site'},{'ColumnName':'Is_Contact','KeyName':'Is_x0020_Contact','Default':'FALSE'}]"/>

    <add key="EmailHost" value="smtpout.gdit.com"/>
    <add key="EmailAuth" value="None"/>
    <add key="EmailFrom" value="SOIBean@GDIT.com"/>
    <add key="EmailTo" value="Some.One@GDIT.com"/>

    <add key="ConvertEmptyStringToNull" value="true"/>

    <add key="FailureToken" value="7f5f8ab0-0761-4dbc-ab15-073713690ab8"/>
  </appSettings>
  <credentialAppSettings>
    <!-- ClientID / Secret are ignored when AuthMethod = Windows -->
    <add key="ClientId" value="xxx"/>
    <add key="ClientSecret" value="???"/>
  </credentialAppSettings>
</configuration>