@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Error - eCL Admin Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="body-content">
        <div class="row text-center">
            <img alt="Aw, Snap!" src="~/Content/Images/aw_snap.png">
        </div>
        <div class="row text-center">
            <h4>Something went wrong while processing your request. Please close your browser and try again.</h4>
        </div>
    </div>
</body>
</html>



