@{
    ViewBag.Title = "Error";
}

<div class="container">
    <div>
        <h2 class="text-danger">Error</h2>
        <h4 class="text-danger">
            An error has occurred while processing your request. Please contact the site administrator for assistance.
        </h4>
    </div>
</div>

