@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Error</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/css")
</head>

<html>
<body>
    <h2 class="text-danger">Error</h2>
    <h4 class="text-danger">
        An error has occurred while processing your request. Please contact the site administrator for assistance.
    </h4>
</body>
</html>

