@{
    Layout = null;
}

@using eCoachingLog.Utils

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Logout - eCoaching Log</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_Logo")
    <div class="body-content">
        <h4>You have been logged out. Please click <a href="@Constants.APP_URL">here</a> to login.</h4>
    </div>

    <script>
        window.history.forward();
    </script>
</body>
</html>

