@model eCoachingLog.ViewModels.NewSubmissionViewModel
<div class="container-fluid" style="height: 100%;">
    <div class="row row-eq-height">
        <div class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: large;">X</span></button>
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Employee</h5>
            </div>

            <div class="modal-body" style="font-size: small;">
                <div id="div-site" style="">
                    <label for="select-site" class="col-sm-1 control-label required">Site</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.SiteId, Model.SiteSelectList, new { @class = "form-control", id = "add-employee-select-site" })
                    </div>
                </div>

                <div id="div-employee">
                    <label for="select-employee" class="col-sm-2 control-label required">Employee</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.Employee.Id, Model.EmployeeSelectList, new { @class = "form-control", id = "add-employee-select-employee" })
                    </div>
                </div>
            </div>
            <!--/.modal-body -->

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btn-add-employee">Add</button>
            </div>

        </div>
        </div>
    <!--/.row row-eq-height -->
</div>

<script>
    $(function () {
        $("#btn-add-employee").click(function () {
            var isValid = true;
            var siteId = $('#add-employee-select-site').val();
            var siteName = $('#add-employee-select-site  option:selected').text();
            var employeeId = $('#add-employee-select-employee').val();
            var employeeName = $('#add-employee-select-employee  option:selected').text();

            // make sure site is selected
            if (siteId < 1) {
                $('#add-employee-select-site').css('border-color', 'red');
                isValid = false;
            }
            // make sure employee is selected
            if (employeeId < 1) {
                $('#add-employee-select-employee').css('border-color', 'red');
                isValid = false;
            }

            if (isValid === true) {
                // send ajax to server to add this one to the employee list in session
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddEmployeeToSession","NewSubmission")',
                    data: { employeeId: employeeId, employeeName: employeeName, siteName: siteName },
                    success: function (data) {
                        console.log(data);
                        dlEmployee.append('<option value="' + employeeId + '">' + employeeName + ' (' + siteName + ')</option>');
                        dlEmployee.bootstrapDualListbox('refresh');
                        $('#modal-container').modal('hide');
                    }
                });

                // upon ajax returns, add this to dropdown and refresh

            }
        });
    });
</script>

