<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="dbConnectionString" connectionString="Data Source=UVAADADSQL50CCO.ad.local;Initial Catalog=eCoachingDev;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="dbConnectionString" connectionString="Data Source=UVAADADSQL52CCO.ad.local;Initial Catalog=eCoachingTest;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="dbConnectionString" connectionString="Data Source=UVAAPADSQL50CCO.ad.local;Initial Catalog=eCoachingUat;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="dbConnectionString" connectionString="Data Source=UVAAPADSQL50CCO.ad.local;Initial Catalog=eCoaching;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtpint.maxcorp.maximus" enableSsl="false" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>