body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.please-wait
{
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 100%;
    min-width: 100%;
    background-image: url("../Content/Images/ajax-spinner.gif");
    background-position: 50% 30%;
    background-repeat:no-repeat;
    background-color: #FAFAFA;
    z-index: 500 !important;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    overflow: hidden;
}

.float-right {
  /*border: 0.05em solid lightgray;
  border-radius: 0.25em 0.25em;
  margin-top: -0.2em;
  padding: 0.3em;*/
  font-size: 0.9em;
  float: right;
}

.modal-body textarea.form-control {
    max-width: 100%;
    /*height: 200px;*/
}

/*ul.navbar-nav {
    font-size: 16px;
}*/

.input-validation-error {
    border: 1px solid #e80c4d;
}

.modal-content {
    width: 600px;
    margin: 30px auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.loadinggif {
    background:url("../Content/Images/ajax-loader.gif") no-repeat center;
}


.panel-heading-collapse {
    cursor: pointer;
}

/* CSS Method for adding Font Awesome Chevron Icons */
 .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    content:"\f077";
    float: right;
    color: inherit;
}
.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content:"\f078";
}

#dataTables-ecoaching-access-control-list td:nth-child(4),
#dataTables-ecoaching-access-control-list th:nth-child(4) {
    text-align : center;
}

.fixed-bottom {
  position: fixed;
  float: right !important;
  bottom: 10px;
  right: 50px;
  color: #0099ff;
  z-index: 1030;
}

/*https://github.com/twbs/bootstrap/issues/17455*/
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.navbar {
	border-top: 2px solid #4c81b7 !important;
    border-bottom: 1px solid #4c81b7 !important;
}

fieldset.border {
    border: solid 1px #DCDCDC !important;
    padding: 0.5em 0.5em 0.5em 0.5em !important;
    margin: 0 0 1.0em 0 !important;
	background-color: #F5F5F5;
	 border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.panel-heading {
  padding: 3px 10px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-title {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: bold;
  /*text-align: center;*/
  color: inherit;
}
 
.input-group-addon {
    cursor: pointer;
}

fieldset.border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.border {
    font-size: 1em !important;
    /*font-weight: bold !important;*/
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.page-header {
  padding-bottom: 2px;
  margin: 30px 0 10px;
  border-bottom: 2px solid #eee;
}

table.dataTable th, td {
  padding: 4px;
}

.form-inline .form-group {
  margin-bottom:5px;
}


