<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  vrivfssdbt02\CMSWD01,1439
  -->
<configuration>
  <connectionStrings>
    <add name="CoachingConnectionString" connectionString="Data Source=F3420-ECLDBP01;Initial Catalog=eCoaching;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>    
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <customErrors defaultRedirect="error4.aspx" mode="On"/>
    <compilation strict="true" explicit="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" validateRequest="false" viewStateEncryptionMode="Auto" clientIDMode="AutoID"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="512000" appRequestQueueLimit="5000" executionTimeout="1200"/>
    <sessionState mode="InProc" timeout="480" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </modules>
  </system.webServer>
</configuration>