<table class="table table-hover">
	<tbody>
		@foreach (var logCount in Model.LogCountList)
		{
			<tr>
				<td><b>@logCount.Description</b></td>
				<td><b>@logCount.Count</b></td>
				<td><a href="#" class="my-dashboard-log-list" data-log="@logCount.LogListPageName">View</a></td>
			</tr>
		}
	</tbody>
</table>
