<table class="table table-hover">
	<thead>
		<tr>
			<th>Site</th>
			<th>Pending</th>
			<th>Completed</th>
			<th>Warning</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var lcfs in Model.LogCountForSiteList)
		{
			<tr>
				<td>@lcfs.SiteName</td>
				<td><a href="#" class="my-dashboard-log-list" data-log-type="pending">@lcfs.TotalPending</a></td>
				<td><a href="#" class="my-dashboard-log-list" data-log-type="completed">@lcfs.TotalCompleted</a></td>
				<td><a href="#" class="my-dashboard-log-list" data-log-type="warning">@lcfs.TotalWarning</a></td>
			</tr>
		}
	</tbody>
</table>