<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Site</th>
			<th>Pending</th>
			<th>Completed</th>
			<th>Warning</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="#" class="my-dashboard-log-list-by-site" data-log="_MySiteLogs" data-site="12">Bogalusa</a></td>
			<td>201</td>
			<td>200</td>
			<td>21</td>
		</tr>
		<tr>
			<td><a href="#">Chester</a></td>
			<td>211</td>
			<td>32</td>
			<td>12</td>
		</tr>
		<tr>
			<td><a href="#">Coralville</a></td>
			<td>23</td>
			<td>35</td>
			<td>2</td>
		</tr>
		<tr>
			<td><a href="#">Corbin</a></td>
			<td>23</td>
			<td>35</td>
			<td>2</td>
		</tr>
		<tr>
			<td><a href="#">Hattiesburg</a></td>
			<td>23</td>
			<td>35</td>
			<td>2</td>
		</tr>
		<tr>
			<td><a href="#">London</a></td>
			<td>23</td>
			<td>35</td>
			<td>2</td>
		</tr>
		<tr>
			<td><a href="#">Lawrence</a></td>
			<td>23</td>
			<td>35</td>
			<td>2</td>
		</tr>
		<tr>
			<td><a href="#">Lynn Haven</a></td>
			<td>23</td>
			<td>35</td>
			<td>2</td>
		</tr>
		<tr>
			<td><a href="#">Phoenix</a></td>
			<td>23</td>
			<td>35</td>
			<td>2</td>
		</tr>
		<tr>
			<td><a href="#">Riverview</a></td>
			<td>23</td>
			<td>35</td>
			<td>2</td>
		</tr>
		<tr>
			<td><a href="#">Sandy</a></td>
			<td>23</td>
			<td>35</td>
			<td>2</td>
		</tr>
		<tr>
			<td><a href="#">Waco</a></td>
			<td>23</td>
			<td>35</td>
			<td>2</td>
		</tr>
		<tr>
			<td><a href="#">Winchester</a></td>
			<td>23</td>
			<td>35</td>
			<td>2</td>
		</tr>
	</tbody>
</table>
