@model eCoachingLog.Models.Common.LogFilter
User Role: @Model.UserRole
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default filterable" id="coaching-log-list">
			<div class="panel-heading">
				<i class="fa fa-list-alt"></i><span id="title"><strong> My Completed eCoaching Logs </strong></span>
				<div class="pull-right">
					<a href="#" id="a-close" style="color: black;">X</a>
				</div>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div id="div-my-completed-list">
					@{Html.RenderPartial("_LogList", Model); }
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

