@model eCoachingLog.ViewModels.MyDashboardViewModel

<!-- Search Form -->
<div class="row">
	<div class="col-sm-2"></div>
@using (Ajax.BeginForm("SearchMyPendingManager",
				"MyDashboard",
				FormMethod.Post,
				new AjaxOptions
				{
					InsertionMode = InsertionMode.Replace,
					HttpMethod = "POST",
					UpdateTargetId = "div-my-pending-list"//,
				},
				new { id = "search-form", @class = "form-horizontal" }
		))
{
    <div class="form-group filters pull-right col-sm-10">
        <div class="col-sm-3 col-sm-offset-5">
            @Html.DropDownListFor(m => m.SupervisorId, Model.SupervisorSelectList, new { @class = "form-control", id = "select-supervisor" })
        </div>
        <div class="col-sm-3">
            @Html.DropDownListFor(m => m.EmployeeId, Model.EmployeeSelectList, new { @class = "form-control", id = "select-employee" })
        </div>
        <div class="col-sm-1 text-right">
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span> Go
            </button>
        </div>
    </div>
}
</div>
<div class="clearfix"></div>

