@model eCoachingLog.ViewModels.MyDashboardViewModel
<!-- Search Form -->
<form class="form-inline" id="form-search-mydashboard">
	<div class="form-group pull-right">
		@Html.DropDownListFor(m => m.Search.SupervisorId, Model.SupervisorSelectList, new { @class = "form-control", id = "select-supervisor" })
		@Html.DropDownListFor(m => m.Search.EmployeeId, Model.EmployeeSelectList, new { @class = "form-control", id = "select-employee" })
		<button type="button" class="btn btn-info" id="btn-search">
			<span class="glyphicon glyphicon-search"></span> Go
		</button>
	</div>
</form>
<div class="clearfix"></div>
