@model eCoachingLog.ViewModels.MyDashboardViewModel
<!-- Search Form -->
<form class="form-inline pull-right" id="form-search-mydashboard">
	<div class="form-group">
		@Html.DropDownListFor(m => m.Search.SupervisorId, Model.SupervisorSelectList, new { @class = "form-control", id = "select-supervisor" })
	</div>
	<div class="form-group">
		@Html.DropDownListFor(m => m.Search.EmployeeId, Model.EmployeeSelectList, new { @class = "form-control", id = "select-employee" })
	</div>
	<button type="button" class="btn btn-info" id="btn-search">
		<span class="glyphicon glyphicon-search"></span> Go
	</button>
</form>
<div class="clearfix"></div>
