<div class="form-group pull-right col-sm-3">
	<div class="col-sm-5">
		<select class="form-control" id="employee-selected">
			<option>All Employees</option>
		</select>
	</div>
	<div class="col-sm-5">
		<select class="form-control" id="source-selected">
			<option>All Sources</option>
		</select>
	</div>
	<div class="col-sm-2">
		<button type="button" class="btn btn-info" id="btn-search">
			<span class="glyphicon glyphicon-search"></span> Go
		</button>
	</div>
</div>
<div class="clearfix"></div>

