@model eCoachingLog.ViewModels.MyDashboardViewModel
<div id="div-my-team-pending">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default filterable" id="coaching-log-list">
				<div class="panel-heading">
					<i class="fa fa-list-alt"></i><span id="title"><strong> My Team's Pending eCoaching Logs </strong></span>
					<div class="pull-right">
						<a href="#" id="a-close" style="color: black;">X</a>
					</div>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					@if (Model.UserRole == UserRole.Manager)
					{
						<div id="div-my-pending-search">
							@{ Html.RenderPartial("_MyTeamPendingMgrSearch"); }
						</div>
						<br />
					}
					else if (Model.UserRole == UserRole.Supervisor || Model.UserRole == UserRole.Other)
					{
						<div id="div-my-team-pending-search">
							@{ Html.RenderPartial("_MyTeamPendingSupSearch"); }
						</div>
						<br />
					}

					<div id="div-my-team-pending-list">
						@{Html.RenderPartial("_LogList"); }
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>

