@model eCoachingLog.ViewModels.MyDashboardViewModel
@using eCoachingLog.Utils

<div class="panel panel-default filterable" id="coaching-log-list">
	<div class="panel-heading">
		<i class="fa fa-list-alt"></i><span id="title"><strong> My Team's Pending eCoaching Logs </strong></span>
		<div class="pull-right">
			<a href="#" id="a-close" style="color: black;">X</a>
		</div>
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		@if (Model.Search.UserRole == Constants.USER_ROLE_MANAGER)
		{
			<div id="div-my-pending-search">
				@{ Html.RenderPartial("_MyTeamPendingMgrSearch"); }
			</div>
		}
		else if (Model.Search.UserRole == Constants.USER_ROLE_SUPERVISOR)
		{
			<div id="div-my-team-pending-search">
				@{ Html.RenderPartial("_MyTeamPendingSupSearch"); }
			</div>
		}

		<div id="div-search-result">
			@{Html.RenderPartial("_LogList", Model.Search); }
		</div>
	</div>
	<!-- /.panel-body -->
</div>
<!-- /.panel -->
