@*@Model.UserRole*@
<div class="row">
	<div class="col-sm-2"></div>
@using (Ajax.BeginForm("SearchMyPendingManager",
			"MyDashboard",
			FormMethod.Post,
			new AjaxOptions
			{
				InsertionMode = InsertionMode.Replace,
				HttpMethod = "POST",
				UpdateTargetId = "div-my-pending-list"//,
			},
			new { id = "search-form", @class = "form-horizontal" }
	))
{
	<div class="form-group filters col-sm-10 pull-right">
		@if (Model.UserRole == UserRole.Supervisor)
		{
			<div class="col-sm-2">
				<select class="form-control" id="manager-selected">
					<option>All Managers</option>
				</select>
			</div>
		}
		@if (Model.UserRole == UserRole.Manager)
		{
			<div class="col-sm-2">
				<select class="form-control" id="supervisor-selected">
					<option>All Supervisors</option>
				</select>
			</div>
		}
		<div class="col-sm-2">
			<select class="form-control" id="employee-selected">
				<option>All Employees</option>
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control" id="source-selected">
				<option>All Sources</option>
			</select>
		</div>
		<div class="col-sm-2">
			<div class="input-group date">
				<input type="text" class="form-control" id="coaching-date" placeholder="Submission Start Date">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="input-group date">
				<input type="text" class="form-control" id="coaching-date" placeholder="Submission End Date">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<div class="col-sm-1 text-right">
			<button type="button" class="btn btn-info">
				<span class="glyphicon glyphicon-search"></span> Go
			</button>
		</div>
	</div>
}
</div>
<div class="clearfix"></div>

<script src="@Url.Content("~/Scripts/eCoachingLog/dateTimePicker.js")"></script>

