<div id="default">
	@*@{Html.RenderPartial("_DefaultDirector"); }*@
	@{Html.RenderPartial("_Default"); }
</div>

<script>
	var searchUrl = '@Url.Action("Search", "MyDashboard")';

	var showSupervisorColumn = '@Html.Raw(Model.ShowSupNameColumn)';
</script>