<div id="summary">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Pending Coaching Logs
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="pending-bar-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Active Warning Logs
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="active-warning-bar-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Completed Coaching Logs
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="completed-bar-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->

</div>
<!-- /#summary -->

<script>
    $(document).ready(function () {
        var model = @Html.Raw(Json.Encode(Model));
        var warning = Morris.Bar({
                element: 'active-warning-bar-chart',
                data: [], // model.GraphViewModel.WarningActive
                xkey: 'x',
                ykeys: ['a', 'b', 'c'],
                labels: ['Final Written Warning', 'Verbal Warning', 'Written Warning'],
                xLabelAngle: 10,
                hideHover: 'auto',
                barColors: ['#FF0000', '#ff9900', '#800000']
        });

        var pending = Morris.Bar({
                element: 'pending-bar-chart',
                data: [], // model.GraphViewModel.CoachingPending
                xkey: 'x',
                ykeys: ['a', 'b', 'c', 'd', 'e'],
                labels: ['Pending Acknowledgement', 'Pending Employee Review', 'Pending Manager Review', 'Pending Sr. Manager Review', 'Pending Supervisor Review'],
                //xLabelAngle: 10,
                hideHover: 'auto'
        });

        var completed = Morris.Bar({
                element: 'completed-bar-chart',
                data: [], //model.GraphViewModel.CoachingCompleted
                xkey: 'x',
                ykeys: ['a', 'b', 'c', 'd'],
                labels: ['Did not meet goal', 'Met goal', 'Opportunity', 'Reinforcement'],
                xLabelAngle: 10,
                //resize: true, // Significant performance impact, disabled by default.
                hideHover: 'auto',
                barColors: ['#b36b00', '#00b33c', '#0099ff', '#0033cc']
        });

        warning.setData(model.GraphViewModel.WarningActive);
        pending.setData(model.GraphViewModel.CoachingPending);
        completed.setData(model.GraphViewModel.CoachingCompleted);
    })
</script>
