<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary" id="coaching-log-list">
            <div class="panel-heading">
                <i class="fa fa-list-alt"></i><span id="title"> Pending eCoaching Logs</span>
                <div class="pull-right">
                    <a href="#" id="a-close" style="color: white;">X</a>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="tables table-striped table-hover" id="dataTables-coaching-log-list" style="font-size: 11px;" cellpadding="5">
                                <thead>
                                    <tr>
                                        @*hidden column*@
                                        <th>FormID</th>
                                        <th>FormName</th>
                                        <th>Employee Name</th>
                                        <th>Supervisor Name</th>
                                        <th>Manager Name</th>
                                        <th>Submitter Name</th>
                                        <th>Source</th>
                                        <th>Status</th>
                                        <th>Coaching Reason</th>
                                        <th>Sub-coaching Reason</th>
                                        <th>Value</th>
                                        <th>Submitted Date</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.dataTable_wrapper -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<script>
    var logStatus = '@Html.Raw(ViewBag.LogStatus)';
    var getLogDetailsUrl = '@Url.Action("GetLogDetail")';
    var GetLogListUrl = '@Url.Action("LoadData")';
</script>

<script src="@Url.Content("~/Scripts/eCLAdmin/dashboardList.js")"></script>


