<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Inactivate Employee Logs</h4>
</div>

<div class="modal-body">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form-inactivate-log" }))
    {
        Html.RenderPartial("_ReasonPartial");
        Html.RenderPartial("_CommentPartial");
    }
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" id="btn-inactivate" class="btn btn-primary">Inactivate</button>
</div>

<script type="text/javascript">
    $(function () {

        $('#btn-inactivate').on("click", function (e) {
            e.preventDefault();
            if (!validateComment() || !validateReason()) {
                return false;
            }

            $('#modal-container').modal('hide');
            showSpinner();

            var ajaxRequest = $.ajax({
                url: '@Url.Action("Inactivate", "EmployeeLog")',
                type: 'POST',
                data: $('#form-inactivate-log').add('#form-select-EmployeeLogs').serialize(),
                dataType: "json"
            });

            ajaxRequest.done(function (msg) {
                hideSpinner();

                if (msg.success == true) {
                    var info = 'The selected logs have been successfully inactivated.';
                    $("#message").html('<div class="alert alert-success"><button type="button" class="close">x</button>' + info + '</div>');
                } else {
                    var info = 'Failed to inactivate the selected logs.';
                    $("#message").html('<div class="alert alert-warning"><button type="button" class="close">x</button>' + info + '</div>');
                };

                window.setTimeout(function () {
                    if (msg.success == true) {
                        initPage();
                    }
                }, 1000);
            });

            ajaxRequest.fail(function (jqXHR, textStatus) {
                hideSpinner();
                var info = 'Failed to inactivate the selected log(s).';
                $("#message").html('<div class="alert alert-danger"><button type="button" class="close">×</button>' + info + '</div>');
            });
        })
    })
</script>
