<fieldset class="border">
    <br />
    <div class="col-sm-3">
        @Html.DropDownList(
             "logTypeSearchByLogName",
             (SelectList)ViewBag.LogTypes,
             new
             {
                 @class = "form-control"
             }
            )
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="input-logname" name="logName" placeholder="Enter log name">
    </div>
    <div>
        <button class="btn btn-primary" type="submit" id="btn-search">
            <span class="glyphicon glyphicon-search"></span>&nbsp;Search
        </button>
    </div>
</fieldset>

<script>
    $(function () {
        $("#logTypeSearchByLogName").on("change", function () {
            if ($(this).val() !== -1) {
                $("#logTypeSearchByLogName").removeClass("input-validation-error");
            }
        })

        $("#input-logname").on("change", function () {
            if ($(this).val() !== '') {
                $("#input-logname").removeClass("input-validation-error");
            }
        })
    });

    function validateSearchByLogNameForm() {
        var isFormValid = true;
        // search by log name
        if ($('#logTypeSearchByLogName').val() == -1) {
            $('#logTypeSearchByLogName').addClass("input-validation-error");
            //$('#type-error-msg').html('Please select a type');
            isFormValid = false;
        }
        if ($('#input-logname').val().trim() === '') {
            $('#input-logname').addClass("input-validation-error");
            isFormValid = false;
        }
        return isFormValid;
    }

    function resetSearchByLogName() {
        $("#logTypeSearchByLogName").val(-1);
        $("#input-logname").val("");
    }



</script>