@model string

<input class="form-check-input" type="radio" name="searchOption" id="radio-search-option-default" value="default" checked>
<label for="radio-search-option-default">
    @Model
</label>&nbsp;&nbsp;&nbsp;&nbsp;
<input class="form-check-input" type="radio" name="searchOption" id="radio-search-option-logname" value="logname">
<label for="radio-search-option-logname">
    Search by Log Name
</label>

<script>
    $(function () {
        $('#radio-search-option-default').on('change', function () {
            var selected = $(this).is(':checked');
            if (selected === true) {
                $('#div-search-by-default').removeClass('hidden');
                $('#div-search-by-logname').addClass('hidden');
            } else {
                $('#div-search-by-default').addClass('hidden');
                $('#div-search-by-logname').removeClass('hidden');
            }

            $("#search-result, #lk-inactivate, #lk-reactivate, #lk-reassign").slideUp(500);
        })

        $('#radio-search-option-logname').on('change', function () {
            var selected = $(this).is(':checked');
            if (selected === true) {
                $('#div-search-by-logname').removeClass('hidden');
                $('#div-search-by-default').addClass('hidden');
            } else {
                $('#div-search-by-logname').addClass('hidden');
                $('#div-search-by-default').removeClass('hidden');
            }

            $("#search-result, #lk-inactivate, #lk-reactivate, #lk-reassign").slideUp(500);
        })
    })
</script>
