<input class="form-check-input" type="radio" name="searchOption" id="radio-search-option-default" value="default" checked>
<label for="radio-search-option-default">
    Search by Type, Employee Level, and Employee
</label>&nbsp;&nbsp;&nbsp;&nbsp;
<input class="form-check-input" type="radio" name="searchOption" id="radio-search-option-logname" value="logname">
<label for="radio-search-option-logname">
    Search by Log Name
</label>
