@model bool
<div style="margin-bottom: 3px;">
    @Html.DropDownList(
            "logTypeSearchByLogName",
            (SelectList)ViewBag.LogTypes,
            new
            {
                @class = "form-control"
            }
        )
</div>
<div style="margin-bottom: 6px;">
    @if (Model)
    {
        <input class="form-control" maxlength="100" id="input-logname" name="logName" placeholder="Enter log name.">
    }
    else
    {
        <textarea class="form-control remaining" maxlength="3000" id="input-logname" name="logName" rows="5"  placeholder="Enter log name(s). Please separate each log name by comma."></textarea>
        <div class="help-block small">Characters left: <span id="remaining">3000</span></div>
    }
</div>
<div style="margin-bottom: 10px;">
    <button class="btn btn-primary" type="submit" id="btn-search">
        <span class="glyphicon glyphicon-search"></span>&nbsp;Search
    </button>
</div>

<script>
    $(function () {
        $("#logTypeSearchByLogName").on("change", function () {
            if ($(this).val() !== -2) {
                $("#logTypeSearchByLogName").removeClass("input-validation-error");
            }
        })

        $("#input-logname").on("change", function () {
            if ($(this).val() !== '') {
                $("#input-logname").removeClass("input-validation-error");
            }
        })

        $(".remaining").on("keyup", function () {
            $('#remaining').text(3000 - $(this).val().length);
        });
    });

    function validateSearchByLogNameForm() {
        var isFormValid = true;
        // search by log name
        if ($('#logTypeSearchByLogName').val() == -2) {
            $('#logTypeSearchByLogName').addClass("input-validation-error");
            //$('#type-error-msg').html('Please select a type');
            isFormValid = false;
        }
        if ($('#input-logname').val().trim() === '') {
            $('#input-logname').addClass("input-validation-error");
            isFormValid = false;
        }
        return isFormValid;
    }

    function resetSearchByLogName() {
        $("#logTypeSearchByLogName").val(-2);
        $("#input-logname").val("");
    }



</script>