@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Unauthorized - eCoaching Log</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_Logo")
    <div class="body-content">
        <div class="row ">
            <div class="col-md-12 col-md-offset-0">
                <h5>Access denied. You do not have access to eCL.</h5>
            </div>
        </div>
    </div>
</body>
</html>

