<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  vrivfssdbt02\CMSWD01,1439
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <add name="CoachingConnectionString4" connectionString="Data Source=VRIVFSSDBT02\SCORD01,1437;Initial Catalog=coaching_dev;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CoachingConnectionString6" connectionString="Data Source=VRIVFSSDBT02\SCORD01,1437;Initial Catalog=eCoachingDev;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="CoachingConnectionString" connectionString="Data Source=VRIVFSSDBT02\SCORT01,1438;Initial Catalog=eCoachingTest;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CoachingConnectionString5" connectionString="Data Source=VDENSSDBP07\SCORP01,1436;Initial Catalog=eCoaching;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <customErrors defaultRedirect="error4.aspx" mode="Off"/>
    <compilation strict="true" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" validateRequest="false"
      viewStateEncryptionMode="Auto" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="512000" appRequestQueueLimit="5000" executionTimeout="1200"/>
    <sessionState mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>