<div class="form-group">
    <label for="comment">Comment: </label>
    <div id="comment-error-msg" class="field-validation-error"></div>
    <textarea class="form-control" rows="12" id="textarea-comment" name="comment" maxlength="4000"></textarea>
    <div class="small"><span id="remaining-chars"></span> remaining characters</div>
</div>

<script type="text/javascript">
    function displayCommentError() {
        $('#textarea-comment').addClass("input-validation-error");
        $('#comment-error-msg').html('Please enter a comment');
    }

    function removeCommentError() {
        $('#textarea-comment').removeClass("input-validation-error");
        $('#comment-error-msg').html('');
    }

    function validateComment() {
        var isValid = false;
        var comment = $.trim($('#textarea-comment').val());
        if (comment.length == 0) {
            displayCommentError();
        }
        else {
            removeCommentError();
            isValid = true;
        }

        return isValid;
    }

    $(function () {
        // reset comment textarea
        $('#textarea-comment').val('');

        // comment textarea remaining characters display
        const maxLength = 4000;
        $('#remaining-chars').text(maxLength);

        $('#textarea-comment').keyup(function () {
            var textlen = maxLength - $(this).val().length;
            $('#remaining-chars').text(textlen);
        });


        // display validation error msg when nothing entered in comment textarea
        // remove otherwise
        $('#textarea-comment').on("blur", function () {
            var comment = $.trim($('#textarea-comment').val());
            if (comment.length == 0) {
                displayCommentError();
            }
            else {
                removeCommentError();
            }
        })
    });
</script>