@model eCoachingLog.ViewModels.BaseViewModel
@{
    Layout = null;
}

<table class="table table-hover">
    @foreach (var error in Model.ErrorList)
    {
        <tr>
            <td>@error.Key</td>
            <td>@error.Value</td>
        </tr>
    }
</table>

