<nav class="navbar navbar-default " role="navigation" id="topnavbarr">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="eCL" src="~/Content/Images/ecl-logo.png" style="height: 28px; margin-top: 2px;">
            </a>
        </div>
    </div>
</nav>

