<div class="form-group">
    <label for="reason">Reason:</label>
    <div id="reason-error-msg" class="field-validation-error"></div>
    @Html.DropDownList(
                "reason",
                (SelectList)ViewBag.Reasons,
                new
                {
                    @class = "form-control"
                }
            )
</div>

<div class="form-group" id="other-reason" style="display: none;">
    <div id="other-reason-error-msg" class="field-validation-error"></div>
    <textarea class="form-control" rows="2" id="textarea-other-reason" name="otherReason" maxlength="200"></textarea>
    <div class="small"><span id="other-reason-remaining-chars"></span> remaining characters</div>
</div>

<script type="text/javascript">
    $(function () {

        $('#reason').on("change", function () {
            if ($('#reason').val() != -1) {
                removeReasonError();
            }
            else {
                displayReasonError();
            }
        })

        // "other reason" remaining characters display
        const otherReasonMaxLength = 200;
        $('#other-reason-remaining-chars').text(otherReasonMaxLength);

        $('#textarea-other-reason').keyup(function () {
            var textlen = otherReasonMaxLength - $(this).val().length;
            $('#other-reason-remaining-chars').text(textlen);
        });

        $('#reason').on("change", function (e) {

            if ($('#reason').val() != -1) {
                removeReasonError();
            }
            else {
                displayReasonError();

                return false;
            }

            var selectedReason = $('#reason option:selected').html();
            if (selectedReason === "Other")
            {
                // Display text area for user to enter reason
                $('#other-reason').slideDown(500);
                $('#textarea-other-reason').focus();
            }
            else
            {
                $('#textarea-other-reason').val('');
                $('#other-reason-remaining-chars').text(otherReasonMaxLength);
                $('#other-reason').slideUp(500);
            }
        })

        $('#textarea-other-reason').on("blur", function () {
            var otherReasonText = $.trim($('#textarea-other-reason').val());
            if (otherReasonText.length == 0) {
                displayOtherReasonTextError();
            }
            else {
                removeOtherReasonTextError();
            }
        })
    })

    // Validate select - Reason
    function validateReason() {
        // Nothing selected
        if ($('#reason').val() == -1) {
            displayReasonError();
            return false;
        }

        // "Other" selected
        if ($('#reason :selected').text() === "Other") {
            var other = $.trim($('#textarea-other-reason').val());
            // "Other" text is blank
            if (other.length == 0) {
                displayOtherReasonTextError();
                return false;
            }
        }

        // All good
        return true;
    }

    function displayReasonError() {
        $('#reason').addClass("input-validation-error");
        $('#reason-error-msg').html('Please select a reason');
    }

    function removeReasonError() {
        $('#reason').removeClass("input-validation-error");
        $('#reason-error-msg').html('');
    }

    function displayOtherReasonTextError() {
        $('#textarea-other-reason').addClass("input-validation-error");
        $('#other-reason-error-msg').html('Please enter other reason');
    }

    function removeOtherReasonTextError() {
        $('#textarea-other-reason').removeClass("input-validation-error");
        $('#other-reason-error-msg').html('');
    }

</script>
