@{
    Layout = null;
}

@using eCoachingLog.Utils

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Session Expired - eCoaching Log</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@Styles.Render("~/Content/css")
</head>
<body>
	<div class="container-fluid" id="banner">
		<div class="row ecl-logo">
			<img alt="CCO logo" src="~/Content/Images/cco-logo.jpg">
			<span style="float: right;"><img alt="eCL logo" src="~/Content/Images/eCL-logo.png"></span>
		</div>
	</div>
	<hr>
    <div class="body-content">
        <div class="row ">
            <div class="col-md-12 col-md-offset-0">
                <h4>Your session has expired. Please click <a href="@Constants.APP_URL">here</a> to login.</h4>
            </div>
        </div>
    </div>
</body>
</html>
