@{
    Layout = null;
}

@using eCoachingLog.Utils

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Session Expired - eCoaching Log</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_Logo")
    <div class="body-content">
        <div class="row ">
            <div class="col-md-12 col-md-offset-0">
                <h5>Your session has expired due to inactivity of 30 minutes or longer. Please click <a href="@Constants.APP_URL">here</a> to login.</h5>
            </div>
        </div>
    </div>
</body>
</html>
