<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\appLogs\ecl_dev.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d{yyyy-MM-dd HH:mm:ss} %logger - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings> 
    <add name="dbConnectionString" connectionString="Data Source=UVAADADSQL50CCO.ad.local;Initial Catalog=eCoachingDev;Integrated Security=True; Max Pool Size=200;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="dev" />
    <add key="Email.From.Address" value="eCoachingDev@maximus.com" />
    <add key="Email.From.DisplayName" value="eCoaching Log Dev" />
    <add key="App.Url" value="https://UVAADADWEB50CCO.ad.local/ecl_dev/" />
	<add key="Prod.VnV.IPs" value="" /> 
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.7.2" debug="true" />
    <authentication mode="Windows" />
    <!-- Version Disclosure (ASP.NET) fix -->
    <httpRuntime targetFramework="4.7.2" enableVersionHeader="false" />
    <authorization>
      <deny users="?" />
    </authorization>
    <!-- Session Cookie Not Marked as Secure fix -->
    <httpCookies requireSSL="true" />
    <!-- see layout.js -->
    <sessionState mode="InProc" timeout="30" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
		<network host="smtpint.maxcorp.maximus" enableSsl="false" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- ASP.NET Identified fix -->
        <remove name="X-Powered-By" />
        <remove name="Cache-Control" />
        <add name="Cache-Control" value="private" />
        <!-- Expect-CT Not Enabled fix -->
        <add name="Expect-CT" value="enforce, max-age=300, report-uri='https://UVAADADWEB50CCO.ad.local/ecl_dev/'" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Content-Security-Policy" value="object-src 'none'" />
      </customHeaders>
    </httpProtocol>
	<security>
		<requestFiltering>
		    <verbs>
		        <remove verb="OPTIONS" />
		        <add verb="OPTIONS" allowed="false" />
		    </verbs>
		</requestFiltering>
	</security>
  </system.webServer>
</configuration>