@model eCoachingLog.ViewModels.SurveyViewModel
<div class="body-content containter">
	<div class="row">
		<h4>The CCO Leadership team is asking for your help in providing feedback on your coaching experience. Please take a few minutes to complete this survey. The details from the surveys will be used to improve the effectiveness, content and delivery of discussions regarding your performance. Your comments and feedback will be anonymous and will not be attributed directly to your individual survey.</h4>
	</div>
	<div class="row">
		<h4>This survey is for <a href="#" class="modal-link" data-log-id="@Model.Survey.LogId" >@Model.Survey.LogName</a>.</h4>
	</div>
</div>
<script>
	var getLogDetailsUrl = '@Url.Action("GetLogDetail")';
</script>
@Scripts.Render("~/bundles/scripts/survey")


