<div class='mt-2 @(string.IsNullOrEmpty(Model.LogDetail.MgrReviewAutoDate) ? "hide" : "show")'>
	<strong>Manager Review Information:</strong><br />
	<div>
		@Model.LogDetail.ReviewedManagerName<br />
		Reviewed and acknowledged Quality Monitor on @Model.LogDetail.MgrReviewAutoDate
	</div>
</div>
