<table class="tables table-hover table-bordered text-nowrap" id="tbl-report" style="font-size: 0.8em; width:100%;">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Site</th>
            <th>Employee Job Code </th>
            <th>Employee Job Description</th>
            <th>Program</th>
            <th>Supervisor Employee ID </th>
            <th>Supervisor Name</th>
            <th>Supervisor Job Code</th>
            <th>Supervisor Job Description</th>
            <th>Manager Employee ID</th>
            <th>Manager Name</th>
            <th>Manager Job Code</th>
            <th>Manager Job Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Aspect Job Title</th>
            <th>Aspect Skill </th>
            <th>Aspect Status</th>
        </tr>
    </thead>
</table>

<script>
    $(document).ready(function () {
        let length = $('#PageSize').val();
        $(".please-wait").slideDown(500);
        let employeeHierarchyTbl = $('#tbl-report').DataTable({
            columnDefs: [ {
                targets: '_all',
                render: DataTable.render.ellipsis(80),
                orderable: false
            }],
            //ordering: false,
            renderer: "bootstrap",
            autowidth: false,
            language: {
                processing: "<span>Loading...... Please wait...</span>",
                emptyTable: "No data found."
            },
            processing: true,
            serverSide: true,       // Process server side
            filter: false,          // Disable filter (search box)
            pageLength: length,
            ajax: {
                url: '@Url.Action("GetData")',
                type: "POST",
                datatype: "json",
                data: {
                    siteName:       $('#select-site-name').val(),
                    employeeId:     $('#select-employee').val()
                }
            },
            columns: [
                { data: "EmployeeId" },
                { data: "EmployeeName" },
                { data: "SiteName" },
                { data: "EmployeeJobCode" },
                { data: "EmployeeJobDescription" },
                { data: "Program" },
                { data: "SupervisorEmployeeID" },
                { data: "SupervisorName" },
                { data: "SupervisorJobCode" },
                { data: "SupervisorJobDescription" },
                { data: "ManagerEmployeeID" },
                { data: "ManagerName" },
                { data: "ManagerJobCode" },
                { data: "ManagerJobDescription" },
                { data: "StartDate" },
                { data: "EndDate" },
                { data: "Status" },
                { data: "AspectJobTitle" },
                { data: "AspectSkill" },
                { data: "AspectStatus" }
            ],

            initComplete: function (settings, json) {
                $(".please-wait").slideUp(500);

                let recordsTotal = employeeHierarchyTbl.page.info().recordsTotal;
                if (recordsTotal > 0) {
                    // show export to excel link
                    $('#div-export-to-excel').removeClass('hide');
                    $('#div-export-to-excel').addClass('show');
                }

                $('#total-records').removeClass('hide');
                $('#total-records').addClass('show');
                $('#TotalRecordsTxt').text(recordsTotal);

                // show what have been entered in search boxes
                $('#div-report-header').removeClass('hide');
                $('#div-report-header').addClass('show');
                $('#SiteTxt').text($('#select-site-name').val());
                $('#EmployeeTxt').text($('#select-employee  option:selected').text());

                $("th").removeClass('sorting_desc');
                $("th").removeClass('sorting_asc');
                $("th.sorting_desc, th.sorting_asc").css('cursor', 'default');
            }

        }); // employeeHierarchyTbl

        // Set page length
        employeeHierarchyTbl.page.len(length);

        $('#tbl-report').on('length.dt', function (e, settings, len) {
            $("input[name='pageSizeSelected']").val(len);
        });

    });
</script>
