@model eCLAdmin.ViewModels.Reports.EmployeeHierarchySearchViewModel

@Html.HiddenFor(m => m.PageSize)
<form class="form-inline">
    @Html.DropDownListFor(m => m.SelectedSite, Model.SiteSelectList, new { id = "select-site", @class = "form-control required" })
    @Html.DropDownListFor(m => m.SelectedEmployee, Model.EmployeeSelectList, new { id = "select-employee", @class = "form-control required" })

    <button type="button" class="btn btn-primary ml-1" id="btn-generate-report">Generate Report</button>
</form>

<script>
$(document).ready(function () {

    $("#select-site").on("change", function () {
        $('#select-employee').addClass('loadinggif')
        var siteSelected = $(this).val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetEmployeesBySiteName")',
            dataType: 'json',
            data: { site: siteSelected },

            success: function (employees) {
                var options = [];
                $.each(employees, function (i, employee) {
                    options.push('<option value="', employee.Value, '">' + employee.Text + '</option>');
                });

                $('#select-employee').html(options.join(''));
                $('#select-employee').removeClass('loadinggif');
            }
        });
        return false;
    });

});

</script>