@model eCLAdmin.ViewModels.EclSiteUsageViewModel

<!-- Date -->
<div class="input-group date" id="datePicker">
	<input type="text" class="form-control" id="daySelected" placeholder="Select Date" />
	<span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar"></span>
	</span>
</div>
<!-- Go Btn -->
<a class="btn btn-primary btn-sm " id="btn-go">Go</a>

