<!-- Start Date -->
<label for="chart-type" class="control-label ">From &nbsp;</label>
<div class="input-group monthPickerStart" id="monthPickerStart">
	<input type="text" class="form-control" id="startMonth" placeholder="Select Month" />
	<span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar"></span>
	</span>
</div>
<!-- End Date -->
<label for="chart-type" class="control-label ">&nbsp;&nbsp;&nbsp;to&nbsp; </label>
<div class="input-group monthPickerStart" id="monthPickerEnd">
	<input type="text" class="form-control" id="endMonth" placeholder="Select Month" />
	<span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar"></span>
	</span>
</div>
<!-- Go Btn -->
<a class="btn btn-primary btn-sm " id="btn-go">Go</a>

