<!-- Start Date -->
<label for="chart-type" class="control-label">From &nbsp;</label>
<div class="input-group weekPickerStart" id="weekPickerStart">
	<input type="text" class="form-control" id="startWeek" placeholder="Select Week" />
	<span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar"></span>
	</span>
</div>
<!-- End Date -->
<label for="chart-type" class="control-label ">&nbsp;&nbsp;&nbsp;to&nbsp; </label>
<div class="input-group weekPickerEnd" id="weekPickerEnd">
	<input type="text" class="form-control" id="endWeek" placeholder="Select Week" />
	<span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar"></span>
	</span>
</div>
<!-- Go Btn -->
<a class="btn btn-primary btn-sm " id="btn-go">Go</a>

