@*@model eCLAdmin.ViewModels.EclSiteUsageViewModel*@
<div class="row">
	<h3 class="page-header"> eCoaching Log Site Usage</h3>
</div>
<!-- Filter row -->
<div class="row">
<form class="form-inline" id="form-ecl-statistics">
	<div class="col-md-12">
	<fieldset class="border">
	<div class="form-inline">
		<div class="form-group">
			<div id="radioBtn" class="btn-group">
				<a class="btn btn-primary btn-sm notActive" data-toggle="by-what" data-title="H">Hourly</a>
				<a class="btn btn-primary btn-sm notActive" data-toggle="by-what" data-title="D">Daily</a>
				<a class="btn btn-primary btn-sm notActive" data-toggle="by-what" data-title="W">Weekly</a>
				<a class="btn btn-primary btn-sm notActive" data-toggle="by-what" data-title="M">Monthly</a>
			</div>
			<input type="hidden" id="byWhat" />
		</div>

		<div class="pull-right" id="div-date-range">
			<!-- By Hour -->
			<div id="div-by-hour" class="form-group hide">
				@{ Html.RenderPartial("_DateRangeByHour"); }
			</div>
			<!-- By Day -->
			<div id="div-by-day" class="form-group hide">
				@{ Html.RenderPartial("_DateRangeByDay"); }
			</div>
			<!-- By Week -->
			<div id="div-by-week" class="form-group hide">
				@{ Html.RenderPartial("_DateRangeByWeek"); }
			</div>
			<!-- By Month -->
			<div id="div-by-month" class="form-group hide">
				@{ Html.RenderPartial("_DateRangeByMonth"); }
			</div>
		</div>
	</div>
	</fieldset>
	</div>
</form>
</div>

<!-- Result row -->
<div class="row" id="div-statistics">
</div>

<script>
	var getStatistics = '@Url.Action("GetStatistics", "EclSiteUsage")';
</script>

@Scripts.Render("~/bundles/scripts/eclSiteUsage")