@model eCoachingLog.ViewModels.NewSubmissionViewModel
@{
    Layout = null;
}

@if (Model.IsSuccess != null)
{
    if (Model.IsSuccess.Value)
    {
        <div id="success-message" class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Success! Your submission has been saved!
        </div>
    }
    else if (Model.IsValidationError != null && Model.IsValidationError.Value)
    {
        <div id="fail-message" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;<b>Please correct all errors in red to proceed.</b>
        </div>
    }
    else if (Model.IsFailAll != null && Model.IsFailAll.Value)
    {
        <div id="fail-message" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;<b>Failed to save your submission!</b>
            <br />
            @{ Html.RenderPartial("_Error", Model); }
        </div>
    }
    else
    {
        <div id="fail-message" class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;<b>Failed to create log for the following:</b>
            <br />
            @{ Html.RenderPartial("_Error", Model); }
        </div>
    }
}