@model eCoachingLog.ViewModels.NewSubmissionViewModel
@{
    Layout = null;
}

@if (Model.IsSuccess != null)
{
    if (Model.IsSuccess.Value)
    {
        <div id="success-message" class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Submission saved successfully. <em>@Model.LogName</em>
        </div>
    }
    else if (Model.IsValidationError != null && Model.IsValidationError.Value)
    {
        <div id="fail-message" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Please correct errors below to proceed.
        </div>
    }
    else if (Model.IsFailAll != null && Model.IsFailAll.Value)
    {
        <div id="fail-message" class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Submission Failed. Please try again later or submit a ticket by clicking Help | Submit a Ticket.
        </div>
    }
    else
    {
        <div id="fail-message" class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Submission Failed.<br />
            @{ Html.RenderPartial("_Error", Model); }
        </div>
    }
}