@model eCoachingLog.ViewModels.NewSubmissionViewModel

<div id="div-submit" class='@(@Model.ShowSubmitDiv ? "show" : "hide")'>
    @Html.HiddenFor(m => m.ShowSubmitDiv)

    <div class="checkbox required" style="padding-left: 20px;">
        @Html.CheckBoxFor(m => m.VerifiedCheckbox)I have verified that all the information on this form is true and complete to the best of my knowledge.
        @Html.ValidationMessageFor(m => m.VerifiedCheckbox)
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <div class="pull-right">
                <button class="btn btn-primary" type="submit" id="btn-submit">Submit</button>
                <button class="btn btn-default" type="reset" id="btn-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
