@model eCoachingLog.Models.Common.DetailsOfBehavior

<strong>Details of the behavior being coached:</strong>
<div style="overflow-x: hidden;">
    <!-- medals-->
    @if (Model.IsGold)
    {
        <img src="~/Content/Images/gold.jpg" alt="Gold Medal" style="margin-top: 10px;">
    }
    else if (Model.IsSilver)
    {
        <img src="~/Content/Images/silver.jpg" alt="Silver Medal" style="margin-top: 10px;">
    }
    else if (Model.IsBronze)
    {
        <img src="~/Content/Images/bronze.jpg" alt="Bronze Medal" style="margin-top: 10px;">
    }
    else if (Model.IsHonorMention)
    {
        <img src="~/Content/Images/honorable_mention.jpg" alt="Honorable Mention" style="margin-top: 10px;">
    }

    <!-- skill badges -->
    @if (Model.IsActiveListening) 
    {
        <img src="~/Content/Images/active_listening.jpg" alt="Active Listening" style="margin-top: 10px;">
    }

    @if (!Model.IsBusinessCorrespondence)
    {
        <img src="~/Content/Images/business_correspondence.jpg" alt="Business Correspondence" style="margin-top: 10px;">
    }

    @if (Model.IsBusinessProcess)
    {
        <img src="~/Content/Images/business_process.jpg" alt="Business Process" style="margin-top: 10px;">
    }

    @if (Model.IsCallEfficiency)
    {
        <img src="~/Content/Images/call_efficiency.jpg" alt="Call Efficiency" style="margin-top: 10px;">
    }

    @if (Model.IsInfoAccuracy)
    {
        <img src="~/Content/Images/info_accuracy.jpg" alt="Info Accuracy" style="margin-top: 10px;">
    }

    @if (Model.IsIssueResolution)
    {
        <img src="~/Content/Images/issue_resolution.jpg" alt="Issue Resolution" style="margin-top: 10px;">
    }

    @if (Model.IsPersonailityFlexing)
    {
        <img src="~/Content/Images/personaility_flexing.jpg" alt="Personaility Flexing" style="margin-top: 10px;">
    }

    @if (Model.IsPrivacyDisclaimers)
    {
        <img src="~/Content/Images/privacy_disclaimers.jpg" alt="Privacy Disclaimers" style="margin-top: 10px;">
    }

    <p style="margin-top: 10px;">
        @Html.Raw(WebUtility.HtmlDecode(Model.Behavior))
    </p>
</div>
