<div class='@(string.IsNullOrEmpty(Model.WarningLogDetail.EmployeeReviewDate) ? "hide" : "show")'>
	<div class="mt-2">
		<strong>Employee Review Information:</strong><br />
		@Model.WarningLogDetail.EmployeeName<br />
		Reviewed and acknowledged Warning on @Model.WarningLogDetail.EmployeeReviewDate
	</div>

	<div class="mt-2" style="padding-bottom: 5px;">
		<strong>Employee Comments/Feedback:</strong><br />
		@Html.Raw(WebUtility.HtmlDecode(Model.WarningLogDetail.Comment))
	</div>
</div>






