
@if (Model.LogDetail.IsFollowupRequired)
{
    <div class="text-primary" style="margin-top: 8px;"><strong><mark>Follow-up Coaching Required Comments:</mark></strong></div>
}
else
{
    <div class="text-primary" style="margin-top: 8px;"><strong><mark>Follow-up Coaching NOT Required Comments:</mark></strong></div>
}
@Model.LogDetail.FollowupDecisionComments