<span class="text-muted small pull-right">
    <strong class="danger">Please do not include PII or PHI in the log entry.</strong>
    <br />
    <span class="text-warning">Data entered will be lost if you're inactive for 30 miutes or longer.</span>
</span>
<br />
<span class="text-muted small pull-left">Please note that all fields are required. Double-check your work to ensure accuracy.</span>

