<span style="float: right; font-size: 1.0em;">
    <strong class="danger">Please do not include PII or PHI in the log entry.</strong>
    <br />
    <span style="font-size: 0.9em;"><mark><b><i>Data entered will be lost if you're inactive for 30 miutes or longer.</i></b></mark></span>
</span>
<br />
<span class="text-muted small pull-left">Please note that all fields are required. Double-check your work to ensure accuracy.</span>

