@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>eCL Admin - Unauthorized</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <img alt="eCL" src="~/Content/Images/eCL.png" style="height: 30px; margin-top: -5px">
                </div>
            </div>
        </div>
    </div>
    <div class="body-content">
        <h3>Unauthorized Access</h3>
        <h4>You have attempted to access a page that you are not authorized.</h4>
        <h4>If you have any questions, please contact the site administrator.</h4>
    </div>
</body>
</html>
