@{
    ViewBag.Title = "Unauthorized Access";
}

<div class="container">
    <div>
        <h2>Unauthorized Access</h2>
        <h3>You have attempted to access a page that you are not authorized.</h3>
        <h4>If you have any questions, please contact the site administrator.</h4>
    </div>
</div>
