<div class="form-group text-muted hide" id="subdata-access-option">
    <label>Subcontractor data access:</label>
    <br />
    <input type="radio" value="N" name="SubcontractorDataAccess" id="no" checked />
    <label for="no" style="font-weight: normal;">No</label>&nbsp;
    <input type="radio" value="V" name="SubcontractorDataAccess" id="view" />
    <label for="view" style="font-weight: normal;">View Only</label>&nbsp;
    <input type="radio" value="SV" name="SubcontractorDataAccess" id="submissionandview" />
    <label for="submissionandview" style="font-weight: normal;">Submission and View</label>
</div>
