<div class="form-group">
    <label for="reason">Employee Level:</label>
    <div id="reason-error-msg" class="field-validation-error"></div>
    @Html.DropDownList(
                "module",
                (SelectList)ViewBag.Modules,
                new
                {
                    @class = "form-control"
                }
            )
</div>

<script type="text/javascript">
    $(function () {

        $('#module').on("change", function (e) {
            var selectedModule = $('#module option:selected').html();

        })
    })

</script>

