@model eCLAdmin.ViewModels.EmployeeLogSelectViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        Total record(s) found: <span class="badge">@Model.EmployeeLogs.Count</span>
        <div id="total-selected" class="pull-right" >
        </div>
    </div>
    @if (Model.EmployeeLogs.Count > 0)
    {
        <table class="table table-hover" id="search-result-table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkall" /></th>
                    <th data-sortable="true">FormName</th>
                    <th>Employee Name</th>
                    <th>Supervisor Name</th>
                    <th>Manager Name</th>
                    <th>Submitter Name</th>
                    <th>Status</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.EmployeeLogs)
            </tbody> 
        </table>
    }
</div>

<script type="text/javascript">
    $(function () {

    })

    function toggleCheckboxes(status) {
        $("#search-result-table input[type=checkbox]").each(function () {
            // Set the checked status of each to match the
            // checked status of the check all checkbox:
            $(this).prop("checked", status)
        });

        var rowsChecked = $('.checkbox-select-employeeLog:checked').length;
        $('#total-selected').text(rowsChecked + " selected");
    }
</script>


