@model eCoachingLog.ViewModels.MyDashboardQnViewModel

<div class="panel panel-default filterable" id="qn-log-list">
	<div class="panel-heading">
		<i class="fa fa-list-alt"></i><span id="title"><strong> My Pending Follow-up Preparation </strong></span>
		<div class="pull-right">
			<a href="#" id="a-close" style="color: black;">X</a>
		</div>
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div id="div-search-result">
			@{Html.RenderPartial("_LogListQn"); }
		</div>
	</div>
	<!-- /.panel-body -->
</div>
<!-- /.panel -->

