@model eCoachingLog.ViewModels.MyDashboardQnViewModel
@using eCoachingLog.Utils

<div class="panel panel-default filterable" id="qn-log-list">
    <div class="panel-heading">
        <i class="fa fa-list-alt"></i><span id="title"><strong> My Pending Review</strong></span>
        <div class="pull-right">
            <a href="#" id="a-close" style="color: black;">X</a>
        </div>
    </div>

    <input type="hidden" name="pageSizeSelected" id="pageSizeSelected" />

    <!-- /.panel-heading -->
    <div class="panel-body">
        @if (Model.Search.ShowQnOrQnsChoice)
        {
            <form class="form-inline">
                <div class="form-group">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.Search.SourceId, Constants.SOURCE_QN, new { @class = "rd-qn-qns" })QN &nbsp;&nbsp;
                    </label>
                </div>
                <div class="form-group">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.Search.SourceId, Constants.SOURCE_QNS, new { @class = "rd-qn-qns" })QN Supervisor
                    </label>
                </div>
            </form>
        }

        <div class="clearfix"></div>

        <div id="div-search-result">
            @{Html.RenderPartial("_LogListQn"); }
        </div>
        </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->



